@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.wapper{
    width: 900px;
    margin: 0 auto;
}

header {
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div{
    text-align: center;
    font-size: 66px;
    font-family: "Open Sans", sans-serif;
}

footer{
    background-color: black;
}

footer div{
    padding: 23px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
}

footer a{
    text-decoration: none;
    color: white;
}

footer li{
    padding: 10px;
}

#sectionmain1{
    display: flex;
}

#columana1sectionmain1{
    width: 340px;
    margin: 0 auto;
}

#columana1sectionmain1 h2{
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    padding-top: 23px;
}

#columana1sectionmain1 p{
    font-size: 29px;
    padding-top: 56px;
    font-family: "PT Sans Narrow", sans-serif;
}

#sectionmain1 img{
    width: 415px;
}

#sectionmain2 {
    background-color: #24EDA4;
}

#sectionmain2 h1{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 25px;
    font-size: 46px;
}

#contentprogramms {
    display: flex;
    justify-content: space-evenly;
}

#contentprogramms p{
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}

#sectionmain3{
    display: flex;
}

#sectionmain3 img{
    width: 415px;
    padding: 26px;
}

#columana1sectionmain2{
    width: 340px;
    margin: 0 auto;
}

#columana1sectionmain2 h2{
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    padding-top: 23px;
}

#columana1sectionmain2 p{
    font-size: 29px;
    padding-top: 56px;
    font-family: "PT Sans Narrow", sans-serif;
}

#sectionmain4{
    display: flex;
    flex-wrap: wrap;
}

#sectionmain4 img{
    width: 225px;
}

#sectionmain5{
    background-color: #46A6FC;
}

#sectionmain5 h1{
    font-size: 53px;
    padding: 36px;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
}

.imgenes{
    text-align: center;
    padding: 14px;
}

.imgenes img{
    width: 171px;
}


@media (max-width: 700px) {
    .wapper{
        width: 700px;
        margin: 0 auto;
    }
    
    header{
        background-image: url(../img/banner-2.jpg);
        background-size: 1806px;
        height: 1110px;
    }
    
    footer{
        background-color: black;
        display: flex;
        flex-direction: column;
    }
    
    footer div{
        color: white;
        display: flex;
        flex-direction: column;
    }
    
    header div{
        font-size: 101px;
        text-align: center;
        padding-top: 388px;
    }
    
    #sectionmain1{
        display: flex;
        flex-direction: column;
    }
    
    #columana1sectionmain1{
        font-size: 38px;
        width: 404px;
        margin: 0 auto;
    }
    
    #columana1sectionmain1 h2{
        padding-top: 10px;
        font-family: "Open Sans", sans-serif;
    }
    
    #columana1sectionmain1 p{
        padding-top: 28px;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 32px;
    }
    
    #imagenheader{
        width: 445px;
        margin: 0 auto;
    }
    
    #sectionmain1 img{
        width: 419px;
    }
    
    #sectionmain2{
        background-color: #24EDA4;
    }
    
    #sectionmain2{
        font-family: "Open Sans", sans-serif;
        text-align: center;
        padding: 25px;
        font-size: 46px;
    }
    
    #contentprogramms{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 617px;
        justify-content: space-evenly;
    }
    
    #imgenes{
        text-align: center;
        padding: 14px;
    }
    
    #sectionmain2 h1{
        padding-bottom: 42px;
    }
    
    #contentprogramms p {
        padding: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 23px;
    }
    
    #sectionmain3{
        display: flex;
        flex-direction: column;
    }
    
    #sectionmain3 img{
        width: 466px;
        padding-top: 10px;
    }
    
    #columana1sectionmain2{
        padding-top: 10px;
    }
    
    #columana1sectionmain2 h2{
        font-size: 51px;
        font-family: "Open Sans", sans-serif;
    }
    
    #columana1sectionmain2 p {
        padding-top: 28px;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 32px;
        padding-bottom: 15px;
    }
    
    #sectionmain4{
        display: flex;
        flex-wrap: wrap;
    }
    
    #sectionmain4 img{
        width: 350px;
    }

    #imagensectionmain3{
        width: 545px;
        margin: 0 auto;
    }   
    
    #sectionmain5{
        background-color: #46A6FC;
    }
    
    #sectionmain5 {
        font-size: 53px;
        padding: 36px;
        text-align: center;
        font-family: "PT Sans Narrow", sans-serif;
    }
    
    #menu{
        display: flex;
        padding: 14px;
        flex-direction: row;
    }
    
    #menu li{
        padding: 10px
    }
    
    #menu a{
        text-decoration: none;
        color: white;
    }
    
    #copy{
        padding: 22px;
    }
    
    .imgenes img {
        width: 265px;
    }
    
}